Playbooks/VirusTotal/Playbooks/Slack/IP Report Slack.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "Playbook Name": {
            "defaultValue": "VirusTotal-IP-Slack",
            "type": "String",
            "metadata": {
                "description": "Name of the Logic App/Playbook"
            }
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('Playbook Name'))]",
        "SlackConnectionName": "[concat('slackconnector-', parameters('Playbook Name'))]",
        "VirusTotalConnectionName": "[concat('VirusTotal-', parameters('Playbook Name'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
            ],
            "properties": {
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('SlackConnectionName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
            ],
            "properties": {
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/slack')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('VirusTotalConnectionName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
            ],
            "properties": {
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/VirusTotal')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('Playbook Name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('SLackConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('VirusTotalConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered_(Private_Preview_only)": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_IPs": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/ip"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                            "actions": {
                                "Get_an_IP_report": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['VirusTotal']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/api/v3/ip_addresses/@{encodeURIComponent(items('For_each')?['Address'])}"
                                    }
                                },
                                "Post_message": {
                                    "runAfter": {
                                        "Get_an_IP_report": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['slack']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/chat.postMessage",
                                        "queries": {
                                            "channel": "",
                                            "icon_url": "https://connectoricons-prod.azureedge.net/releases/v1.0.1440/1.0.1440.2331/azuresentinel/icon.png",
                                            "text": "*New @{triggerBody()?['object']?['properties']?['severity']} incident @{triggerBody()?['object']?['properties']?['title']} by @{join(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames'], ',')} (@{triggerBody()?['object']?['properties']?['incidentNumber']}).*\n\nIP Address report from Virus Total on: @{items('For_each')?['Address']}\n\n*Description:*\n@{triggerBody()?['object']?['properties']?['description']}\n\n*Harmless:* @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['harmless']}\n*Malicious:* @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['malicious']}\n*Suspicious:* @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}\n*Timeout:* @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['timeout']}\n*Undetected:* @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['undetected']}\n\n*Country:* @{body('Get_an_IP_report')?['data']?['attributes']?['country']}\n*Continent:* @{body('Get_an_IP_report')?['data']?['attributes']?['continent']}\n*Owner:* @{body('Get_an_IP_report')?['data']?['attributes']?['as_owner']}\n*Total votes harmless:* @{body('Get_an_IP_report')?['data']?['attributes']?['total_votes']?['harmless']}\n*Total votes malicious:* @{body('Get_an_IP_report')?['data']?['attributes']?['total_votes']?['malicious']}\n*Reputation:* @{body('Get_an_IP_report')?['data']?['attributes']?['reputation']}\n\n<@{triggerBody()?['object']?['properties']?['incidentUrl']}|Click here to open the incident>"                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "slack": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SlackConnectionName'))]",
                                "connectionName": "[variables('SlackConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/slack')]"
                            },
                            "VirusTotal": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('VirusTotalConnectionName'))]",
                                "connectionName": "[variables('VirusTotalConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/VirusTotal')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}