Playbooks/VirusTotal/Playbooks/Sentinel/IP Report Sentinel.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "Playbook Name": {
            "defaultValue": "VirusTotal-IP-Sentinel",
            "type": "String",
            "metadata": {
                "description": "Name of the Logic App/Playbook"
            }
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('Playbook Name'))]",
        "VirusTotalConnectionName": "[concat('VirusTotal-', parameters('Playbook Name'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
            ],
            "properties": {
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('VirusTotalConnectionName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
            ],
            "properties": {
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/VirusTotal')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('Playbook Name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('VirusTotalConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered_(Private_Preview_only)": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_IPs": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/ip"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                            "actions": {
                                "Get_an_IP_report": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['VirusTotal']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/api/v3/ip_addresses/@{encodeURIComponent(items('For_each')?['Address'])}"
                                    }
                                },
                                "Add_comment_to_incident_(V3)": {
                                    "runAfter": {
                                        "Get_an_IP_report": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "message": "<p><strong>New </strong><strong>@{triggerBody()?['object']?['properties']?['severity']}</strong><strong> incident </strong><strong>@{triggerBody()?['object']?['properties']?['title']}</strong><strong> by </strong><strong>@{join(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames'], ',')}</strong><strong> (</strong><strong>@{triggerBody()?['object']?['properties']?['incidentNumber']}</strong><strong>).</strong><br>\n<br>\n<strong>Description:</strong><br>\n@{triggerBody()?['object']?['properties']?['description']}<br>\n<br>\n<strong>Harmless: </strong>@{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['harmless']}<br>\n<strong>Malicious:</strong> @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['malicious']}<br>\n<strong>Suspicious:</strong> @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}<br>\n<strong>Timeout:</strong> @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['timeout']}<br>\n<strong>Undetected:</strong> @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['undetected']}<br>\n<br>\n<strong>Country:</strong> @{body('Get_an_IP_report')?['data']?['attributes']?['country']}<br>\n<strong>Continent:</strong> @{body('Get_an_IP_report')?['data']?['attributes']?['continent']}<br>\n<strong>Owner:</strong> @{body('Get_an_IP_report')?['data']?['attributes']?['as_owner']}<br>\n<strong>Total votes harmless:</strong> @{body('Get_an_IP_report')?['data']?['attributes']?['total_votes']?['harmless']}<br>\n<strong>Total votes malicious:</strong> @{body('Get_an_IP_report')?['data']?['attributes']?['total_votes']?['malicious']}<br>\n<strong>Reputation:</strong> @{body('Get_an_IP_report')?['data']?['attributes']?['reputation']}</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "VirusTotal": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('VirusTotalConnectionName'))]",
                                "connectionName": "[variables('VirusTotalConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/VirusTotal')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}