Playbooks/VirusTotal/Playbooks/Teams/Url Report Teams.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "Playbook Name": {
            "defaultValue": "VirusTotal-URL-Teams",
            "type": "String",
            "metadata": {
                "description": "Name of the Logic App/Playbook"
            }
        },
        "Teams GroupId": {
            "defaultValue": "",
            "type": "String",
            "metadata": {
                "description": "GroupId of the Team channel"
            }
        },
        "Teams ChannelId": {
            "defaultValue": "",
            "type": "String",
            "metadata": {
                "description": "Team ChannelId"
            }
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('Playbook Name'))]",
        "TeamsConnectionName": "[concat('teamsconnector-', parameters('Playbook Name'))]",
        "VirusTotalConnectionName": "[concat('VirusTotal-', parameters('Playbook Name'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
            ],
            "properties": {
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('TeamsConnectionName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
            ],
            "properties": {
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('VirusTotalConnectionName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
            ],
            "properties": {
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/VirusTotal')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('Playbook Name')]",
            "location": "westeurope",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('VirusTotalConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered_(Private_Preview_only)": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entities_-_Get_URLs": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/url"
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Entities_-_Get_URLs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ProductName",
                                        "type": "string",
                                        "value": "@{join(triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames'], ',')}"
                                    }
                                ]
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Entities_-_Get_URLs')?['URLs']",
                            "actions": {
                                "Analyze_a_URL": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "$content-type": "multipart/form-data",
                                            "$multipart": [
                                                {
                                                    "body": "@items('For_each')?['Url']",
                                                    "headers": {
                                                        "Content-Disposition": "form-data; name=\"url\""
                                                    }
                                                }
                                            ]
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['VirusTotal']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/api/v3/urls"
                                    }
                                },
                                "Get_URL_report": {
                                    "runAfter": {
                                        "Analyze_a_URL": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['VirusTotal']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/api/v3/urls/@{encodeURIComponent(body('Analyze_a_URL')?['data']?['id'])}"
                                    }
                                },
                                "Post_adaptive_card_in_a_chat_or_channel": {
                                    "runAfter": {
                                        "Get_URL_report": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                             "messageBody": "{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"auto\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"url\": \"https://connectoricons-prod.azureedge.net/releases/v1.0.1440/1.0.1440.2331/azuresentinel/icon.png\"\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"auto\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"url\": \"https://www.virustotal.com/gui/images/logo.svg\"\n                        }\n                    ],\n                    \"minHeight\": \"1px\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"size\": \"Medium\",\n            \"weight\": \"Bolder\",\n            \"text\": \"@{triggerBody()?['object']?['properties']?['title']}\"\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"New @{triggerBody()?['object']?['properties']?['severity']} incident @{triggerBody()?['object']?['properties']?['title']} by @{variables('ProductName')} (@{triggerBody()?['object']?['properties']?['incidentNumber']}).\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{triggerBody()?['object']?['properties']?['description']}\",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n                {\n                    \"title\": \"Harmless:\",\n                    \"value\": \"@{body('Get_URL_report')?['data']?['attributes']?['last_analysis_stats']?['harmless']}\"\n                },\n                {\n                    \"title\": \"Malicious:\",\n                    \"value\": \"@{body('Get_URL_report')?['data']?['attributes']?['last_analysis_stats']?['malicious']}\"\n                },\n                {\n                    \"title\": \"Suspicious:\",\n                    \"value\": \"@{body('Get_URL_report')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}\"\n                },\n                {\n                    \"title\": \"Timeout:\",\n                    \"value\": \"@{body('Get_URL_report')?['data']?['attributes']?['last_analysis_stats']?['timeout']}\"\n                },\n                {\n                    \"title\": \"Undetected:\",\n                    \"value\": \"@{body('Get_URL_report')?['data']?['attributes']?['last_analysis_stats']?['undetected']}\"\n                }\n            ]\n        },\n        {\n            \"type\": \"FactSet\",\n            \"facts\": [\n                {\n                    \"title\": \"Categories:\",\n                    \"value\": \"@{body('Get_URL_report')?['data']?['attributes']?['categories']}\"\n                },\n                {\n                    \"title\": \"Last modification date:\",\n                    \"value\": \"@{formatDateTime(addToTime('1970-01-01',body('Get_URL_report')?['data']?['attributes']?['last_modification_date'],'second'), 'g')}\"\n                },\n                {\n                    \"title\": \"Reputation:\",\n                    \"value\": \"@{body('Get_URL_report')?['data']?['attributes']?['reputation']}\"\n                },\n                {\n                    \"title\": \"Tags:\",\n                    \"value\": \"@{body('Get_URL_report')?['data']?['attributes']?['tags']}\"\n                }\n            ]\n        },\n        {\n            \"type\": \"ActionSet\",\n            \"actions\": [\n                {\n                    \"type\": \"Action.OpenUrl\",\n                    \"title\": \"Open incident\",\n                    \"url\": \"@{triggerBody()?['object']?['properties']?['incidentUrl']}\"\n                }\n            ]\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.3\"\n}",
                                             "recipient": {
                                                "channelId": "[parameters('Teams ChannelId')]"
                                            },
                                            "shouldUpdateCard": true
                                        },
                                                                            "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['teams']['connectionId']"
                                        }
                                    },
                                    "path": "/flowbot/actions/flowcontinuation/recipienttypes/channel/$subscriptions",
                                    "queries": {
                                        "groupId": "[parameters('Teams GroupId')]"
                                    },
                                        "notificationUrl": "@{listCallbackUrl()}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            },
                            "teams": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('TeamsConnectionName'))]",
                                "connectionName": "[variables('TeamsConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/teams')]"
                            },
                            "virustotal": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('VirusTotalConnectionName'))]",
                                "connectionName": "[variables('VirusTotalConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/customApis/VirusTotal')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}